body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 2em;
    font-weight: 700;
    width: 306px;
    height: 306px;
}

.message {
    color: red;
}

.cell {
    height: 100px;
    width: 100px;
    border: 1px solid #ccc;
    color: #3C3C3C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-btn {
    background-color: green;
    border-radius: 3px;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    padding: 15px;
    margin: 20px;
}

.reset-btn:hover {
    background-color: darkgreen;
}